In [46]:
import pandas as pd
import numpy as np

In [47]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_train.head()

,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id,year,month,day,day_of_week,hour_of_day,trip_duration,calculated_total_amount
0,9.01,1,N,1,26.0,0.0,0.5,8.14,5.76,0.3,40.70,262,138,2018,3,7,2,6,2131.0,24.30
1,0.20,1,N,1,3.0,0.0,0.5,0.75,0.00,0.3,4.55,263,236,2018,2,25,6,10,2377.0,37.40
2,9.65,1,N,1,41.5,0.0,0.5,9.61,5.76,0.3,57.67,138,230,2018,1,29,0,8,1286.0,30.36
3,9.50,1,N,1,30.0,0.5,0.5,9.25,5.76,0.3,46.31,186,138,2018,9,25,1,20,2586.0,4.30
4,5.80,1,N,1,21.5,0.5,0.5,4.56,0.00,0.3,27.36,162,87,2018,8,20,0,21,1575.0,23.80

In [48]:
df_test.head()

,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id,year,month,day,day_of_week,hour_of_day,trip_duration
0,15.70,1,N,2,45.0,0.0,0.5,0.00,0.00,0.3,45.80,132,146,2018,10,20,5,16,3967.0
1,7.30,1,N,1,25.5,0.0,0.5,7.89,0.00,0.3,34.19,186,69,2018,2,24,5,15,1491.0
2,14.87,1,N,1,40.5,0.5,0.5,8.36,0.00,0.3,50.16,138,89,2018,9,11,1,22,1395.0
3,2.90,1,N,2,22.0,0.0,0.5,0.00,0.00,0.3,22.80,90,162,2018,6,7,3,11,1742.0
4,8.96,1,N,1,32.0,0.0,0.5,0.00,5.76,0.3,38.56,138,186,2018,4,20,4,10,1623.0

In [49]:
df_train.shape , df_test.shape

((35000, 20), (15000, 19))

In [50]:
df_train.columns , df_test.columns

(Index(['trip_distance', 'rate_code', 'store_and_fwd_flag', 'payment_type',
        'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
        'imp_surcharge', 'total_amount', 'pickup_location_id',
        'dropoff_location_id', 'year', 'month', 'day', 'day_of_week',
        'hour_of_day', 'trip_duration', 'calculated_total_amount'],
       dtype='object'),
 Index(['trip_distance', 'rate_code', 'store_and_fwd_flag', 'payment_type',
        'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
        'imp_surcharge', 'total_amount', 'pickup_location_id',
        'dropoff_location_id', 'year', 'month', 'day', 'day_of_week',
        'hour_of_day', 'trip_duration'],
       dtype='object'))

In [51]:
# getting df info

In [52]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_distance            35000 non-null  float64
 1   rate_code                35000 non-null  int64
 2   store_and_fwd_flag       35000 non-null  object
 3   payment_type             35000 non-null  int64
 4   fare_amount              35000 non-null  float64
 5   extra                    35000 non-null  float64
 6   mta_tax                  35000 non-null  float64
 7   tip_amount               35000 non-null  float64
 8   tolls_amount             35000 non-null  float64
 9   imp_surcharge            35000 non-null  float64
 10  total_amount             35000 non-null  float64
 11  pickup_location_id       35000 non-null  int64
 12  dropoff_location_id      35000 non-null  int64
 13  year                     35000 non-null  int64
 14  month                    35000 non-null  int64
 15  day                      35000 non-null  int64
 16  day_of_week              35000 non-null  int64
 17  hour_of_day              35000 non-null  int64
 18  trip_duration            35000 non-null  float64
 19  calculated_total_amount  35000 non-null  float64
dtypes: float64(10), int64(9), object(1)
memory usage: 5.3+ MB

In [53]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_distance        15000 non-null  float64
 1   rate_code            15000 non-null  int64
 2   store_and_fwd_flag   15000 non-null  object
 3   payment_type         15000 non-null  int64
 4   fare_amount          15000 non-null  float64
 5   extra                15000 non-null  float64
 6   mta_tax              15000 non-null  float64
 7   tip_amount           15000 non-null  float64
 8   tolls_amount         15000 non-null  float64
 9   imp_surcharge        15000 non-null  float64
 10  total_amount         15000 non-null  float64
 11  pickup_location_id   15000 non-null  int64
 12  dropoff_location_id  15000 non-null  int64
 13  year                 15000 non-null  int64
 14  month                15000 non-null  int64
 15  day                  15000 non-null  int64
 16  day_of_week          15000 non-null  int64
 17  hour_of_day          15000 non-null  int64
 18  trip_duration        15000 non-null  float64
dtypes: float64(9), int64(9), object(1)
memory usage: 2.2+ MB

In [54]:
# check null values

In [55]:
df_train.isnull().sum()

trip_distance              0
rate_code                  0
store_and_fwd_flag         0
payment_type               0
fare_amount                0
extra                      0
mta_tax                    0
tip_amount                 0
tolls_amount               0
imp_surcharge              0
total_amount               0
pickup_location_id         0
dropoff_location_id        0
year                       0
month                      0
day                        0
day_of_week                0
hour_of_day                0
trip_duration              0
calculated_total_amount    0
dtype: int64

In [56]:
df_test.isnull().sum()

trip_distance          0
rate_code              0
store_and_fwd_flag     0
payment_type           0
fare_amount            0
extra                  0
mta_tax                0
tip_amount             0
tolls_amount           0
imp_surcharge          0
total_amount           0
pickup_location_id     0
dropoff_location_id    0
year                   0
month                  0
day                    0
day_of_week            0
hour_of_day            0
trip_duration          0
dtype: int64

In [57]:
#find cat cols and num cols

In [58]:
list(df_train.select_dtypes(exclude='object').columns)

['trip_distance',
 'rate_code',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'imp_surcharge',
 'total_amount',
 'pickup_location_id',
 'dropoff_location_id',
 'year',
 'month',
 'day',
 'day_of_week',
 'hour_of_day',
 'trip_duration',
 'calculated_total_amount']

In [59]:
list(df_train.select_dtypes(include='object').columns)

['store_and_fwd_flag']

In [60]:
list(df_test.select_dtypes(exclude='object').columns) , list(df_test.select_dtypes(include='object').columns)

(['trip_distance',
  'rate_code',
  'payment_type',
  'fare_amount',
  'extra',
  'mta_tax',
  'tip_amount',
  'tolls_amount',
  'imp_surcharge',
  'total_amount',
  'pickup_location_id',
  'dropoff_location_id',
  'year',
  'month',
  'day',
  'day_of_week',
  'hour_of_day',
  'trip_duration'],
 ['store_and_fwd_flag'])

In [61]:
# Cleaning store_and_fwd_flag col

In [62]:
df_train['store_and_fwd_flag'].unique()

array(['N', 'Y'], dtype=object)

In [63]:
def hand_store_and_fwd_flag(v):
    if (v=='N'):
        return 0
    else:
        return 1

In [64]:
df_train['store_and_fwd_flag'] = df_train['store_and_fwd_flag'].apply(hand_store_and_fwd_flag)
df_test['store_and_fwd_flag'] = df_test['store_and_fwd_flag'].apply(hand_store_and_fwd_flag)

In [65]:
df_train['store_and_fwd_flag'].unique()

array([0, 1], dtype=int64)

In [66]:
# find corr

In [67]:
#final_col=list(df_train.corr()['SalePrice'][(df_train.corr()['SalePrice']>=0.07)|(df_train.corr()['SalePrice']<=-0.07)].index)

In [68]:
df_train.corr()

,trip_distance,rate_code,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,total_amount,pickup_location_id,dropoff_location_id,year,month,day,day_of_week,hour_of_day,trip_duration,calculated_total_amount
trip_distance,1.000000,0.273355,-0.008222,-0.060372,0.829692,-0.016118,-0.270702,0.455714,0.432261,-0.000183,0.816478,-0.094002,-0.092665,NaN,-0.035207,-0.007886,-0.001131,-0.023668,-0.003486,0.001392
rate_code,0.273355,1.000000,-0.002414,-0.002726,0.543670,-0.080895,-0.692998,0.268014,0.318800,-0.049447,0.531029,0.005835,-0.003110,NaN,0.017861,0.007309,0.015818,-0.033840,-0.004011,-0.011716
store_and_fwd_flag,-0.008222,-0.002414,1.000000,0.010514,-0.006881,-0.003201,-0.000941,-0.009874,-0.008639,0.001008,-0.009222,0.005673,0.007353,NaN,-0.000415,-0.002817,-0.010385,-0.009787,-0.005580,-0.005429
payment_type,-0.060372,-0.002726,0.010514,1.000000,-0.066491,0.006365,0.001486,-0.491274,-0.086443,0.004975,-0.179079,0.001166,-0.002771,NaN,0.007847,0.029884,0.071458,-0.039133,-0.008933,-0.040477
fare_amount,0.829692,0.543670,-0.006881,-0.066491,1.000000,-0.057712,-0.461236,0.516761,0.430221,-0.026675,0.958428,-0.059885,-0.065842,NaN,-0.000127,0.006167,-0.012430,-0.020998,-0.004027,-0.004883
extra,-0.016118,-0.080895,-0.003201,0.006365,-0.057712,1.000000,0.047640,-0.018170,-0.065128,0.007239,-0.039287,-0.009397,-0.022558,NaN,-0.003911,-0.006703,-0.106173,0.320355,0.004950,0.004083
mta_tax,-0.270702,-0.692998,-0.000941,0.001486,-0.461236,0.047640,1.000000,-0.273454,-0.448595,0.048335,-0.492964,-0.017613,0.151476,NaN,0.001563,-0.008550,-0.011898,0.045090,0.008558,0.001764
tip_amount,0.455714,0.268014,-0.009874,-0.491274,0.516761,-0.018170,-0.273454,1.000000,0.399708,-0.002809,0.695904,-0.029003,-0.025302,NaN,-0.026451,-0.010239,-0.048319,0.008729,0.000827,0.021426
tolls_amount,0.432261,0.318800,-0.008639,-0.086443,0.430221,-0.065128,-0.448595,0.399708,1.000000,0.005692,0.602555,-0.014116,-0.035023,NaN,-0.016343,0.003878,-0.049999,-0.027309,0.004057,0.000835
imp_surcharge,-0.000183,-0.049447,0.001008,0.004975,-0.026675,0.007239,0.048335,-0.002809,0.005692,1.000000,-0.019369,-0.002914,-0.007065,NaN,-0.004881,0.005432,-0.008182,0.003125,0.000756,-0.008944
total_amount,0.816478,0.531029,-0.009222,-0.179079,0.958428,-0.039287,-0.492964,0.695904,0.602555,-0.019369,1.000000,-0.055183,-0.062446,NaN,-0.009185,0.002919,-0.032199,-0.012291,-0.001971,0.001413
pickup_location_id,-0.094002,0.005835,0.005673,0.001166,-0.059885,-0.009397,-0.017613,-0.029003,-0.014116,-0.002914,-0.055183,1.000000,0.037673,NaN,-0.000210,-0.001198,-0.005505,-0.006318,0.000502,-0.004395
dropoff_location_id,-0.092665,-0.003110,0.007353,-0.002771,-0.065842,-0.022558,0.151476,-0.025302,-0.035023,-0.007065,-0.062446,0.037673,1.000000,NaN,0.000502,-0.005503,-0.004105,0.031132,0.001304,-0.001443
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month,-0.035207,0.017861,-0.000415,0.007847,-0.000127,-0.003911,0.001563,-0.026451,-0.016343,-0.004881,-0.009185,-0.000210,0.000502,NaN,1.000000,0.024610,0.061824,-0.008621,0.002530,0.000863
day,-0.007886,0.007309,-0.002817,0.029884,0.006167,-0.006703,-0.008550,-0.010239,0.003878,0.005432,0.002919,-0.001198,-0.005503,NaN,0.024610,1.000000,0.001019,-0.026345,-0.004444,-0.001215
day_of_week,-0.001131,0.015818,-0.010385,0.071458,-0.012430,-0.106173,-0.011898,-0.048319,-0.049999,-0.008182,-0.032199,-0.005505,-0.004105,NaN,0.061824,0.001019,1.000000,-0.056879,0.002499,0.000730
hour_of_day,-0.023668,-0.033840,-0.009787,-0.039133,-0.020998,0.320355,0.045090,0.008729,-0.027309,0.003125,-0.012291,-0.006318,0.031132,NaN,-0.008621,-0.026345,-0.056879,1.000000,-0.005418,0.001093
trip_duration,-0.003486,-0.004011,-0.005580,-0.008933,-0.004027,0.004950,0.008558,0.000827,0.004057,0.000756,-0.001971,0.000502,0.001304,NaN,0.002530,-0.004444,0.002499,-0.005418,1.000000,0.006518
calculated_total_amount,0.001392,-0.011716,-0.005429,-0.040477,-0.004883,0.004083,0.001764,0.021426,0.000835,-0.008944,0.001413,-0.004395,-0.001443,NaN,0.000863,-0.001215,0.000730,0.001093,0.006518,1.000000

In [69]:
df_train.corr()['calculated_total_amount']

trip_distance              0.001392
rate_code                 -0.011716
store_and_fwd_flag        -0.005429
payment_type              -0.040477
fare_amount               -0.004883
extra                      0.004083
mta_tax                    0.001764
tip_amount                 0.021426
tolls_amount               0.000835
imp_surcharge             -0.008944
total_amount               0.001413
pickup_location_id        -0.004395
dropoff_location_id       -0.001443
year                            NaN
month                      0.000863
day                       -0.001215
day_of_week                0.000730
hour_of_day                0.001093
trip_duration              0.006518
calculated_total_amount    1.000000
Name: calculated_total_amount, dtype: float64

In [70]:
# scalling

In [71]:
from sklearn.preprocessing import MinMaxScaler
Scaler = MinMaxScaler()

In [80]:
final_train_cols = list(df_train.columns)
final_train_cols.remove('calculated_total_amount')
final_train_cols

['trip_distance',
 'rate_code',
 'store_and_fwd_flag',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'imp_surcharge',
 'total_amount',
 'pickup_location_id',
 'dropoff_location_id',
 'year',
 'month',
 'day',
 'day_of_week',
 'hour_of_day',
 'trip_duration']

In [81]:
Scaler.fit(df_train[final_train_cols])

MinMaxScaler()

In [83]:
df_train[final_train_cols] = Scaler.transform(df_train[final_train_cols])

In [85]:
final_test_cols = list(df_test.columns)

In [86]:
Scaler.fit(df_test[final_test_cols])

MinMaxScaler()

In [87]:
df_test[final_test_cols] = Scaler.transform(df_test[final_test_cols])

In [77]:
#model bulding

In [91]:
X_train = df_train[final_train_cols]
y_train = df_train['calculated_total_amount']

In [109]:
# 
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)
model.score(X_train,y_train)

0.0021516117115163436

In [99]:
# Random Forest 
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train,y_train)
model.score(X_train,y_train)

0.8531777206455216

In [101]:
# Decision Tree
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(X_train,y_train)
model.score(X_train,y_train)

1.0

In [ ]:
sweetviz/ krish naik / readme.file on git hub